.form .form-input .form-control:focus,
.form .form-input .form-select:focus {
  box-shadow: none;
  border: 1px solid black;
}
.form .form-input .form-select {
  padding: 3px 10px;
}
.form {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.size-button {
  border: 1px solid rgb(27, 13, 79);
}
.detail-product .product-info-list {
  padding-left: 12px;
  list-style: circle;
}
/* Back to top */
body .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}
.demo_top {
  text-align: center;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 500;
  color: black;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: #af2239;
  /* padding: 15px; */
  opacity: 0;
  visibility: hidden;
}
.demo_top:hover {
  color: #f15e2c;
  background-color: #173d58;
}

@media screen and (max-width: 576px) {
  .banner .container .banner_carousel .banner_item .banner_title .main_title {
    font-size: 30px;
    filter: none;
  }
}
