* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 70px;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #173d58;
}
header .container .header_top {
  display: flex;
  background-color: transparent;
  justify-content: flex-end;
  padding: 5px 0;
  font-size: 12px;
  color: white;
}
@media screen and (max-width: 767.98px) {
  header .container .header_top {
    display: none;
  }
}
header .container .header_top ul {
  display: flex;
}
header .container .header_top ul li {
  border-right: 1px solid white;
}
header .container .header_top ul li a {
  margin: 0 10px;
  transition: all 0.5s;
  color: white;
}
header .container .header_top ul li a:hover {
  text-decoration: underline;
}
header .container .header_bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
  padding-bottom: 10px;
}
header .container .header_bot img {
  height: 54px;
}
@media screen and (max-width: 767.98px) {
  header .container .header_bot img {
    padding: 5px 0;
  }
}
header .container .header_bot .nav_container {
  font-size: 18px;
  margin: auto 0;
  display: flex;
}
@media screen and (max-width: 767.98px) {
  header .container .header_bot .nav_container {
    display: none;
  }
}
header .container .header_bot .nav_container li {
  position: relative;
  margin-left: 20px;
}
header .container .header_bot .nav_container li a {
  color: white;
}
header .container .header_bot .nav_container li::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #f15e2c;
  transition: all 0.5s;
}
header .container .header_bot .nav_container li:hover a {
  color: #f15e2c;
}
header .container .header_bot .nav_container li:hover::before {
  width: 100%;
}
header .container .header_bot .nav_container li.active a {
  color: #f15e2c;
}
header .container .header_bot .nav_container li.active::before {
  width: 100%;
}
header .container .header_bot .shopping_part {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  font-size: 18px;
}
header .container .header_bot .shopping_part .fav_wrapper {
  position: relative;
}
header .container .header_bot .shopping_part .fav_wrapper a {
  color: white;
  position: relative;
}
header .container .header_bot .shopping_part .fav_wrapper a:hover {
  color: #f15e2c;
}
header .container .header_bot .shopping_part .fav_wrapper a .fav_quantity {
  position: absolute;
  width: 12px;
  height: 12px;
  right: -5px;
  top: 0;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
}
header .container .header_bot .shopping_part .fav_wrapper .listFavItem {
  position: absolute;
  display: none;
  top: 28px;
  right: 10%;
  width: 350px;
  height: 350px;
  background-color: white;
  border-radius: 8px;
  transition: all 0.8s;
}
header .container .header_bot .shopping_part .fav_wrapper .scrolling-table {
  max-height: 400px; /* Set the desired height */
  overflow-y: auto; /* Enable vertical scrolling */
}
header .container .header_bot .shopping_part .fav_wrapper::after {
  content: "";
  position: absolute;
  display: none;
  left: 2px;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 20px solid #212529;
  transition: all 0.8s;
}
header .container .header_bot .shopping_part .fav_wrapper:hover .listFavItem, header .container .header_bot .shopping_part .fav_wrapper:hover::after {
  display: block;
}
header .container .header_bot .shopping_part .cart_wrapper {
  position: relative;
}
header .container .header_bot .shopping_part .cart_wrapper:hover a {
  color: #f15e2c;
}
header .container .header_bot .shopping_part .cart_wrapper a {
  color: white;
  position: relative;
}
header .container .header_bot .shopping_part .cart_wrapper a .cart_productQuantity {
  position: absolute;
  width: 12px;
  height: 12px;
  right: -5px;
  top: 0;
  border-radius: 50%;
  background-color: red;
  color: white;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
}
header .container .header_bot .shopping_part .cart_wrapper .listCartItem {
  position: absolute;
  display: none;
  top: 28px;
  right: 10%;
  width: 350px;
  height: 350px;
  background-color: white;
  border-radius: 8px;
  transition: all 0.8s;
}
header .container .header_bot .shopping_part .cart_wrapper::after {
  content: "";
  position: absolute;
  display: none;
  left: 2px;
  top: 100%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 20px solid #212529;
  transition: all 0.8s;
}
header .container .header_bot .shopping_part .cart_wrapper:hover .listCartItem, header .container .header_bot .shopping_part .cart_wrapper:hover::after {
  display: block;
}
@media screen and (min-width: 767.98px) {
  header .container .header_bot .shopping_part .menu__button {
    display: none;
  }
}
header .container .header_bot .offcanvas .offcanvas_nav_container {
  color: #173d58;
  font-size: 18px;
}
header .container .header_bot .offcanvas .offcanvas_nav_container li {
  padding: 10px 0;
}
header .container .header_bot .offcanvas .offcanvas_nav_container li a {
  color: #173d58;
}
header .container .header_bot .offcanvas .offcanvas-button-box .btn-signup {
  background-color: #f15e2c;
}
header .container .header_bot .offcanvas .offcanvas-button-box .btn-signin {
  background-color: #173d58;
}

.banner {
  background: linear-gradient(180deg, rgba(23, 60, 88, 0.9360994398) 40%, rgba(241, 93, 44, 0.797) 60%);
}
.banner .container_banner {
  height: 100vh;
  width: 90%;
  overflow: hidden;
}
.banner .container_banner .banner_carousel .banner_item {
  justify-content: space-between;
  align-items: center;
  gap: 5em;
}
@media screen and (max-width: 576px) {
  .banner .container_banner .banner_carousel .banner_item {
    gap: 10px;
  }
}
@media screen and (max-width: 767.98px) {
  .banner .container_banner .banner_carousel .banner_item {
    gap: 10px;
  }
}
.banner .container_banner .banner_carousel .banner_item .banner_title {
  color: white;
}
.banner .container_banner .banner_carousel .banner_item .banner_title .small_title {
  font-family: "Merriweather", serif;
  font-size: 1em;
  color: #e85d2e;
  margin: 10px 0;
  font-weight: 500;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}
@media screen and (max-width: 576px) {
  .banner .container_banner .banner_carousel .banner_item .banner_title .main_title {
    font-size: 50px;
  }
}
@media screen and (max-width: 767.98px) {
  .banner .container_banner .banner_carousel .banner_item .banner_title .main_title {
    font-size: 55px;
  }
}
.banner .container_banner .banner_carousel .banner_item .banner_title h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 7em;
  font-weight: 700;
  margin: 20px 0;
  filter: drop-shadow(20px 14px 0px rgba(6, 41, 67, 0.8862745098));
}
.banner .container_banner .banner_carousel .banner_item .banner_title p {
  font-size: 15px;
  line-height: 2rem;
}
.banner .container_banner .banner_carousel .banner_item .banner_title .btn-buy {
  background-color: rgb(6, 43, 145);
  padding: 10px 20px;
  border: 1px solid blue;
  border-radius: 25px;
  margin-top: 20px;
}
.banner .container_banner .banner_carousel .banner_item .banner_title .btn-buy:hover {
  background-color: #5772f0;
  color: black;
  font-weight: bold;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.products {
  background: radial-gradient(circle farthest-side at 0% 50%, #282828 23.5%, rgba(255, 170, 0, 0) 0) 21px 30px, radial-gradient(circle farthest-side at 0% 50%, #2c3539 24%, rgba(240, 166, 17, 0) 0) 19px 30px, linear-gradient(#282828 14%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 85%, #282828 0) 0 0, linear-gradient(150deg, #282828 24%, #2c3539 0, #2c3539 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #2c3539 0, #2c3539 76%, #282828 0) 0 0, linear-gradient(30deg, #282828 24%, #2c3539 0, #2c3539 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, #2c3539 0, #2c3539 76%, #282828 0) 0 0, linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0 #282828;
  background-size: 40px 60px;
  padding-bottom: 4rem;
}
.products .container .header-products {
  padding-top: 4rem;
}
@media screen and (max-width: 576px) {
  .products .container .header-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.products .container .header-products .search_input {
  width: 200px;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.products .container .header-products .search_input:focus {
  border: 2px solid #173d58;
}
.products .container .detailed_products {
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 576px) {
  .products .container .detailed_products {
    width: 80%;
  }
}
.products .container .detailed_products .item {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  color: white;
  border-width: 2px;
  border: 2px solid #ea724a;
  transition: all 0.5s;
  padding: 10px;
  overflow: hidden;
}
@media screen and (max-width: 767.98px) {
  .products .container .detailed_products .item {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.products .container .detailed_products .item .img_product {
  width: 100%;
}
.products .container .detailed_products .item:hover {
  border-radius: 0;
  -o-border-image: linear-gradient(#e7ec47, #3528e7) 30;
     border-image: linear-gradient(#e7ec47, #3528e7) 30;
  box-shadow: 0px 0px 30px 1px rgba(17, 111, 204, 0.57);
}
.products .container .detailed_products .item:hover .img_product {
  animation: xcaleI 0.3s;
  animation-fill-mode: forwards;
}
@keyframes xcaleI {
  0% {
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(1.2) rotate(-15deg);
  }
}
.products .container .detailed_products .item .shoes_name {
  text-transform: uppercase;
  padding: 0;
  margin: 5px 0;
  font-size: 15px;
}
.products .container .detailed_products .item .shoes_type {
  padding: 0;
  margin: 5px 0;
  font-size: 12px;
}
.products .container .detailed_products .item .shoes_description {
  display: none;
}

.service {
  background-color: antiquewhite;
}
.service .container {
  padding: 50px 0;
}
.service .container .service_top {
  text-align: center;
}
.service .container .service_top h2 {
  font-size: 32px;
  font-weight: bold;
}
.service .container .service_top .service_sub div {
  display: inline;
}
.service .container .service_top .service_sub div .btn-sub {
  background-color: #f15e2c;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.service .container .service_top .service_sub div .hidden_text {
  display: none;
  position: absolute;
}
.service .container .service_top .service_sub div:hover .hidden_text {
  display: inline;
}
.service .container .service_top .service_sub div .btn-sub:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  background-clip: padding-box;
  background-color: #ea724a;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
}
.service .container .service_top .service_sub div .btn-sub:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}
.service .container .service_top .service_sub div .btn-sub:disabled {
  cursor: auto;
}
.service .container .service_top .service_sub div .btn-sub:active {
  border-width: 4px 0 0;
  background: none;
}
.service .container .service_top .service_sub input {
  border: 1px solid #173d58;
  border-radius: 3px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 3px 15px;
  margin-right: 10px;
  font-size: 12px;
  width: 40%;
}
.service .container .service_content .service_item {
  background: #fff;
  border: 1px solid #173d58;
  border-color: transparent;
  padding: 10px 5px;
  text-align: center;
  border-radius: 4rem;
  margin: 0 20px;
  font-size: 50px;
  transition: all 0.6s;
}
.service .container .service_content .service_item a {
  color: rgba(0, 0, 0, 0.562);
}
.service .container .service_content .service_item:hover {
  transform: scale(1.2);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(160, 96, 32, 0.3) 0px 30px 60px -30px, rgba(19, 40, 141, 0.35) 0px -2px 6px 0px inset;
}
.service .container .service_content .service_item:hover a {
  display: inline-block;
  animation: moverI 0.5s linear both;
  color: rgba(0, 0, 0, 0.7);
}
@keyframes moverI {
  0% {
    transform: scale(1) rotateX(0);
  }
  50% {
    transform: scale(2) rotateX(90deg);
  }
  100% {
    transform: scale(1) rotateX(0);
  }
}
.service .container .service_content .service_item .item_content h4 {
  font-size: 24px;
  font-family: "Merriweather", serif;
}
.service .container .service_content .service_item .item_content p {
  font-size: 14px;
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 25px 0;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2500px;
}
.slider .slide {
  height: 100px;
  width: 250px;
}
.slider .slide img {
  height: 70px;
  width: 150px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
footer {
  padding-top: 100px;
  background-color: #173d58;
}
footer .container {
  color: white;
  display: flex;
  justify-content: space-between;
}
footer .container .foot_content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
footer .container .foot_content .foot_1 ul li {
  font-size: 10px;
  font-weight: bold;
  line-height: 2rem;
}
footer .container .foot_content .foot_1 ul li a {
  color: white;
}
footer .container .foot_content .foot_2 h3,
footer .container .foot_content .foot_3 h3 {
  font-size: 10px;
  font-weight: bold;
  line-height: 2rem;
}
footer .container .foot_content .foot_2 ul,
footer .container .foot_content .foot_3 ul {
  padding-left: 0;
}
footer .container .foot_content .foot_2 ul li,
footer .container .foot_content .foot_3 ul li {
  color: black;
  font-size: 10px;
  line-height: 2rem;
}
footer .container .foot_content .foot_2 ul li a,
footer .container .foot_content .foot_3 ul li a {
  transition: all 0.3s;
  color: black;
}
footer .container .foot_content .foot_2 ul li a:hover,
footer .container .foot_content .foot_3 ul li a:hover {
  color: #f15e2c;
}
footer .container .foot_social ul {
  display: flex;
  gap: 20px;
}
footer .container .foot_social ul li a {
  transition: all 0.3s;
  color: black;
}
footer .container .foot_social ul li a:hover {
  color: #f15e2c;
}

.form-register {
  margin-top: 200px;
}
.form-register .form .text-form h1 {
  color: #173d58;
}
.form-register .form .form-input form .input-detail .error-notify {
  margin-left: 2px;
  font-size: 14px;
  color: red;
}
.form-register .form .form-input .btn-submit {
  background-color: #173d58;
}

.products .header-products .search_input {
  width: 200px;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
}
.products .header-products .search_input:focus {
  border: 2px solid #173d58;
}
.products .detailed_products .item .shoes_name {
  padding-bottom: 0;
}
.products .detailed_products .item .shoes_description {
  padding-bottom: 0;
}

.detail-product .right ._button_group button:hover {
  background-color: #173d58;
  color: white;
}
.detail-product .right #btn-addfav {
  background-color: #f15e2c;
}
.detail-product .right #btn-addfav:hover {
  opacity: 80%;
}
.detail-product .right #btn-add {
  background-color: #173d58;
}/*# sourceMappingURL=style.css.map */