header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  // margin-bottom: 100px;
  background-color: #173d58;
  .container {
    .header_top {
      @media screen and (max-width: 767.98px) {
        display: none;
      }
      display: flex;
      //   background-color: hsl(0, 0%, 25%);
      background-color: transparent;
      justify-content: flex-end;
      padding: 5px 0;
      font-size: 12px;
      color: white;
      ul {
        display: flex;
        li {
          border-right: 1px solid white;

          a {
            margin: 0 10px;
            transition: all 0.5s;
            color: white;
            //   &::before {
            //     content: "";
            //     position: absolute;
            //     bottom: 0px;
            //     left: 0;
            //     width: 0;
            //     height: 1px;
            //     background-color: white;
            //     transition: all 0.5s;
            //   }
            &:hover {
              text-decoration: underline;
              // color: white;

              // &::before {
              //   width: 100%;
              // }
            }
          }
        }
      }
    }
    .header_bot {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //   background-color: #173d58;
      background-color: transparent;
      color: white;
      padding-bottom: 10px;
      img {
        height: 54px;
        @media screen and (max-width: 767.98px) {
          padding: 5px 0;
        }
      }

      .nav_container {
        font-size: 18px;
        margin: auto 0;
        display: flex;
        //   gap: 20px;
        @media screen and (max-width: 767.98px) {
          display: none;
        }
        li {
          position: relative;
          margin-left: 20px;
          a {
            color: white;
          }
          &::before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 0;
            height: 3px;
            background-color: #f15e2c;
            transition: all 0.5s;
          }
          &:hover {
            a {
              color: #f15e2c;
            }

            &::before {
              width: 100%;
            }
          }
          &.active {
            a {
              color: #f15e2c;
            }
            &::before {
              width: 100%;
            }
          }
        }
      }
      .shopping_part {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
        font-size: 18px;
        .fav_wrapper {
          position: relative;
          a {
            &:hover {
              color: #f15e2c;
            }
            color: white;
            position: relative;
            .fav_quantity {
              position: absolute;
              width: 12px;
              height: 12px;
              right: -5px;
              top: 0;
              border-radius: 50%;
              background-color: red;
              color: white;
              font-size: 12px;
              text-align: center;
              line-height: 12px;
            }
          }
          .listFavItem {
            position: absolute;
            display: none;
            top: 28px;
            right: 10%;
            width: 350px;
            height: 350px;
            background-color: white;
            border-radius: 8px;
            transition: all 0.8s;
          }
          .scrolling-table {
            max-height: 400px; /* Set the desired height */
            overflow-y: auto; /* Enable vertical scrolling */
          }
          &::after {
            content: "";
            position: absolute;
            display: none;
            left: 2px;
            top: 100%;
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 20px solid #212529;
            transition: all 0.8s;
          }
          &:hover .listFavItem,
          &:hover::after {
            display: block; // Ensures the elements are displayed on hover
          }
          // .detail_fav {
          //   display: none;
          // }
        }
        .cart_wrapper {
          position: relative;
          &:hover {
            a {
              color: #f15e2c;
            }
          }
          a {
            color: white;
            position: relative;
            .cart_productQuantity {
              position: absolute;
              width: 12px;
              height: 12px;
              right: -5px;
              top: 0;
              border-radius: 50%;
              background-color: red;
              color: white;
              font-size: 12px;
              text-align: center;
              line-height: 12px;
            }
          }
          .listCartItem {
            position: absolute;
            display: none;
            top: 28px;
            right: 10%;
            width: 350px;
            height: 350px;
            background-color: white;
            border-radius: 8px;
            transition: all 0.8s;
          }
          &::after {
            content: "";
            position: absolute;
            display: none;
            left: 2px;
            top: 100%;
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 20px solid #212529;
            transition: all 0.8s;
          }
          &:hover .listCartItem,
          &:hover::after {
            display: block; // Ensures the elements are displayed on hover
          }
        }
        .menu__button {
          @media screen and (min-width: 767.98px) {
            display: none;
          }
        }
      }
      .offcanvas {
        .offcanvas_nav_container {
          color: #173d58;
          font-size: 18px;
          li {
            padding: 10px 0;
            a {
              color: #173d58;
            }
          }
        }
        .offcanvas-button-box {
          .btn-signup {
            background-color: #f15e2c;
          }
          .btn-signin {
            background-color: #173d58;
          }
        }
      }
    }
  }
}
.banner {
  background: linear-gradient(
    180deg,
    rgba(23, 60, 88, 0.9360994397759104) 40%,
    rgba(241, 93, 44, 0.797) 60%
  );
  height: 100vh;
  padding-top: 150px;
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .banner_image {
      width: 300px;
    }
    .banner_content {
    }
  }
}
footer {
  padding-top: 100px;
  background-color: #173d58;
  .container {
    color: white;
    display: flex;
    justify-content: space-between;
    .foot_content {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      .foot_1 {
        ul {
          li {
            a {
              color: white;
            }
            font-size: 10px;
            font-weight: bold;
            line-height: 2rem;
          }
        }
      }
      .foot_2,
      .foot_3 {
        h3 {
          font-size: 10px;
          font-weight: bold;
          line-height: 2rem;
        }
        ul {
          padding-left: 0;
          li {
            color: black;
            font-size: 10px;
            line-height: 2rem;

            a {
              transition: all 0.3s;
              color: black;
              &:hover {
                color: #f15e2c;
              }
            }
          }
        }
      }
    }
    .foot_social {
      ul {
        display: flex;
        gap: 20px;
        li {
          a {
            transition: all 0.3s;
            color: black;
            &:hover {
              color: #f15e2c;
            }
          }
        }
      }
    }
  }
}

.form-register {
  margin-top: 200px;
  .form {
    .text-form {
      h1 {
        color: #173d58;
      }
    }
    .form-input {
      form {
        .input-detail {
          .error-notify {
            margin-left: 2px;
            font-size: 14px;
            color: red;
          }
        }
      }
      .btn-submit {
        background-color: #173d58;
      }
    }
  }
}

.products {
  .header-products {
    .search_input {
      width: 200px;
      padding: 10px 20px;
      border: 1px solid black;
      border-radius: 5px;
      &:focus {
        border: 2px solid #173d58;
      }
    }
  }
  .detailed_products {
    .item {
      .shoes_name {
        padding-bottom: 0;
      }
      .shoes_description {
        padding-bottom: 0;
      }
    }
  }
}

//Trang detail

.detail-product {
  .right {
    ._button_group {
      button {
        &:hover {
          background-color: #173d58;
          color: white;
        }
      }
    }
    #btn-addfav {
      background-color: #f15e2c;
      &:hover {
        opacity: 80%;
      }
    }
    #btn-add {
      background-color: #173d58;
    }
  }
}
