header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $layoutcolor;
  z-index: 9999;
  // margin-bottom: 100px;
  .container {
    .header_top {
      display: flex;
      background-color: hsl(0, 0%, 25%);
      // background-color: transparent;
      justify-content: flex-end;
      padding: 5px 0;
      font-size: 12px;
      color: white;
      border-radius: 10px;
      ul {
        display: flex;
        li {
          border-right: 1px solid white;

          a {
            margin: 0 10px;
            transition: all 0.5s;
            color: white;
            //   &::before {
            //     content: "";
            //     position: absolute;
            //     bottom: 0px;
            //     left: 0;
            //     width: 0;
            //     height: 1px;
            //     background-color: white;
            //     transition: all 0.5s;
            //   }
            &:hover {
              text-decoration: underline;
              // color: white;

              // &::before {
              //   width: 100%;
              // }
            }
          }
        }
      }
    }
    .header_bot {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $bg-color;
      // background-color: transparent;
      border-radius: 10px;
      color: $white;
      padding: 8px 10px;
      img {
        height: 40px;
      }

      ul {
        font-size: 18px;

        display: flex;
        //   gap: 20px;
        li {
          position: relative;
          margin-left: 20px;
          a {
            color: white;
          }
          &::before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 0;
            height: 3px;
            background-color: #f15e2c;
            transition: all 0.5s;
          }
          &:hover {
            a {
              color: #f15e2c;
            }

            &::before {
              width: 100%;
            }
          }
          &.active {
            a {
              color: #f15e2c;
            }
            &::before {
              width: 100%;
            }
          }
        }
      }
      .shopping_part {
        span {
          margin-left: 10px;
          &:hover {
            a {
              color: #f15e2c;
            }
          }
          a {
            color: white;
          }
        }
      }
    }
  }
}
.banner {
  background: linear-gradient(
    180deg,
    rgba(23, 60, 88, 0.9360994397759104) 40%,
    rgba(241, 93, 44, 0.797) 60%
  );

  .container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .vegnette {
      position: absolute;
      z-index: 100;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0) 65%,
        rgba(0, 0, 0, 0.7)
      );
    }
    .banner_image {
      position: absolute;
      width: 400px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
      transition: 0.45s cubic-bezier(0.26, 0.51, 0.42, 1);
    }
  }
}
footer {
  padding-top: 20px;
  background-color: #173d58;
  .container {
    color: white;
    display: flex;
    justify-content: space-between;
    .foot_content {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      .foot_1 {
        ul {
          li {
            a {
              color: white;
            }
            font-size: 10px;
            font-weight: bold;
            line-height: 2rem;
          }
        }
      }
      .foot_2,
      .foot_3 {
        h3 {
          font-size: 10px;
          font-weight: bold;
          line-height: 2rem;
        }
        ul {
          padding-left: 0;
          li {
            color: black;
            font-size: 10px;
            line-height: 2rem;

            a {
              transition: all 0.3s;
              color: black;
              &:hover {
                color: #f15e2c;
              }
            }
          }
        }
      }
    }
    .foot_social {
      ul {
        display: flex;
        gap: 20px;
        li {
          a {
            transition: all 0.3s;
            color: black;
            &:hover {
              color: #f15e2c;
            }
          }
        }
      }
    }
  }
}

.form-register {
  margin-top: 200px;
  .form {
    .text-form {
      h1 {
        color: #173d58;
      }
    }
    .form-input {
      form {
        .input-detail {
          .error-notify {
            margin-left: 2px;
            font-size: 14px;
            color: red;
          }
        }
      }
      .btn-submit {
        background-color: #173d58;
      }
    }
  }
}

.products {
  .header-products {
    .search_input {
      width: 200px;
      padding: 10px 20px;
      border: 1px solid black;
      border-radius: 5px;
      &:focus {
        border: 2px solid #173d58;
      }
    }
  }
  .detailed_products {
    .item {
      .shoes_name {
        padding-bottom: 0;
      }
      .shoes_description {
        padding-bottom: 0;
      }
    }
  }
}
