header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  // margin-bottom: 100px;
  background-color: #173d58;
  .container {
    .header_top {
      @media screen and (max-width: 767.98px) {
        display: none;
      }
      display: flex;
      //   background-color: hsl(0, 0%, 25%);
      background-color: transparent;
      justify-content: flex-end;
      padding: 5px 0;
      font-size: 12px;
      color: white;
      ul {
        display: flex;
        li {
          border-right: 1px solid white;

          a {
            margin: 0 10px;
            transition: all 0.5s;
            color: white;
            //   &::before {
            //     content: "";
            //     position: absolute;
            //     bottom: 0px;
            //     left: 0;
            //     width: 0;
            //     height: 1px;
            //     background-color: white;
            //     transition: all 0.5s;
            //   }
            &:hover {
              text-decoration: underline;
              // color: white;

              // &::before {
              //   width: 100%;
              // }
            }
          }
        }
      }
    }
    .header_bot {
      display: flex;
      justify-content: space-between;
      align-items: center;
      //   background-color: #173d58;
      background-color: transparent;
      color: white;
      padding-bottom: 10px;
      img {
        height: 54px;
        @media screen and (max-width: 767.98px) {
          padding: 5px 0;
        }
      }

      .nav_container {
        font-size: 18px;
        margin: auto 0;
        display: flex;
        //   gap: 20px;
        @media screen and (max-width: 767.98px) {
          display: none;
        }
        li {
          position: relative;
          margin-left: 20px;
          a {
            color: white;
          }
          &::before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: 0;
            width: 0;
            height: 3px;
            background-color: #f15e2c;
            transition: all 0.5s;
          }
          &:hover {
            a {
              color: #f15e2c;
            }

            &::before {
              width: 100%;
            }
          }
          &.active {
            a {
              color: #f15e2c;
            }
            &::before {
              width: 100%;
            }
          }
        }
      }
      .shopping_part {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
        font-size: 18px;
        .fav_wrapper {
          position: relative;
          a {
            &:hover {
              color: #f15e2c;
            }
            color: white;
            position: relative;
            .fav_quantity {
              position: absolute;
              width: 12px;
              height: 12px;
              right: -5px;
              top: 0;
              border-radius: 50%;
              background-color: red;
              color: white;
              font-size: 12px;
              text-align: center;
              line-height: 12px;
            }
          }
          .listFavItem {
            position: absolute;
            display: none;
            top: 28px;
            right: 10%;
            width: 350px;
            height: 350px;
            background-color: white;
            border-radius: 8px;
            transition: all 0.8s;
          }
          .scrolling-table {
            max-height: 400px; /* Set the desired height */
            overflow-y: auto; /* Enable vertical scrolling */
          }
          &::after {
            content: "";
            position: absolute;
            display: none;
            left: 2px;
            top: 100%;
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 20px solid #212529;
            transition: all 0.8s;
          }
          &:hover .listFavItem,
          &:hover::after {
            display: block; // Ensures the elements are displayed on hover
          }
          // .detail_fav {
          //   display: none;
          // }
        }
        .cart_wrapper {
          position: relative;
          &:hover {
            a {
              color: #f15e2c;
            }
          }
          a {
            color: white;
            position: relative;
            .cart_productQuantity {
              position: absolute;
              width: 12px;
              height: 12px;
              right: -5px;
              top: 0;
              border-radius: 50%;
              background-color: red;
              color: white;
              font-size: 12px;
              text-align: center;
              line-height: 12px;
            }
          }
          .listCartItem {
            position: absolute;
            display: none;
            top: 28px;
            right: 10%;
            width: 350px;
            height: 350px;
            background-color: white;
            border-radius: 8px;
            transition: all 0.8s;
          }
          &::after {
            content: "";
            position: absolute;
            display: none;
            left: 2px;
            top: 100%;
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 20px solid #212529;
            transition: all 0.8s;
          }
          &:hover .listCartItem,
          &:hover::after {
            display: block; // Ensures the elements are displayed on hover
          }
        }
        .menu__button {
          @media screen and (min-width: 767.98px) {
            display: none;
          }
        }
      }
      .offcanvas {
        .offcanvas_nav_container {
          color: #173d58;
          font-size: 18px;
          li {
            padding: 10px 0;
            a {
              color: #173d58;
            }
          }
        }
        .offcanvas-button-box {
          .btn-signup {
            background-color: #f15e2c;
          }
          .btn-signin {
            background-color: #173d58;
          }
        }
      }
    }
  }
}
.banner {
  background: linear-gradient(
    180deg,
    rgba(23, 60, 88, 0.9360994397759104) 40%,
    rgba(241, 93, 44, 0.797) 60%
  );

  .container_banner {
    height: 100vh;
    width: 90%;
    overflow: hidden;

    .banner_carousel {
      .banner_item {
        justify-content: space-between;
        align-items: center;
        gap: 5em;
        @media screen and (max-width: 576px) {
          gap: 10px;
        }
        @media screen and (max-width: 767.98px) {
          gap: 10px;
        }
        & .banner_title {
          color: white;
          .small_title {
            font-family: "Merriweather", serif;
            font-size: 1em;
            color: #e85d2e;
            margin: 10px 0;
            font-weight: 500;
            animation-fill-mode: both;
            animation-delay: 0.5s;
          }
          .main_title {
            @media screen and (max-width: 576px) {
              font-size: 50px;
            }
            @media screen and (max-width: 767.98px) {
              font-size: 55px;
            }
          }
          h1 {
            font-family: "Josefin Sans", sans-serif;
            font-size: 7em;
            font-weight: 700;
            margin: 20px 0;
            filter: drop-shadow(20px 14px 0px #062943e2);
          }
          p {
            font-size: 15px;
            line-height: 2rem;
          }
          // :root {
          //   --animate-duration: 800ms;
          //   --animate-delay: 0.9s;
          // }
          .btn-buy {
            background-color: rgb(6, 43, 145);
            padding: 10px 20px;
            border: 1px solid blue;
            border-radius: 25px;
            margin-top: 20px;
            &:hover {
              background-color: #5772f0;
              color: black;
              font-weight: bold;
            }
          }
        }
        .banner_image {
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.products {
  background: radial-gradient(
        circle farthest-side at 0% 50%,
        #282828 23.5%,
        rgba(255, 170, 0, 0) 0
      )
      21px 30px,
    radial-gradient(
        circle farthest-side at 0% 50%,
        #2c3539 24%,
        rgba(240, 166, 17, 0) 0
      )
      19px 30px,
    linear-gradient(
        #282828 14%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 85%,
        #282828 0
      )
      0 0,
    linear-gradient(
        150deg,
        #282828 24%,
        #2c3539 0,
        #2c3539 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3539 0,
        #2c3539 76%,
        #282828 0
      )
      0 0,
    linear-gradient(
        30deg,
        #282828 24%,
        #2c3539 0,
        #2c3539 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3539 0,
        #2c3539 76%,
        #282828 0
      )
      0 0,
    linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
      #282828;
  background-size: 40px 60px;
  padding-bottom: 4rem;
  .container {
    .header-products {
      @media screen and (max-width: 576px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      padding-top: 4rem;

      .search_input {
        width: 200px;
        padding: 10px 20px;
        border: 1px solid black;
        border-radius: 5px;
        &:focus {
          border: 2px solid #173d58;
        }
      }
    }
    .detailed_products {
      text-align: center;
      margin: 0 auto;
      @media screen and (max-width: 576px) {
        width: 80%;
      }
      // @media screen and (max-width: 767.98px) {
      //   flex-direction: row;
      //   flex-wrap: wrap;
      // }
      // @media screen and (max-width: 576px) {
      //   flex-direction: row;
      //   flex-wrap: wrap;
      // }
      .item {
        @media screen and (max-width: 767.98px) {
          flex-direction: row;
          flex-wrap: wrap;
        }
        width: fit-content;
        height: fit-content;
        border-radius: 20px;
        // background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
        color: white;
        border-width: 2px;
        border: 2px solid #ea724a;
        padding: 10px;
        transition: all 0.5s;
        overflow: hidden;
        a {
          border-radius: 20px;
          .img_product {
            // width: 100%;
            padding: 10px;
            border-radius: 20px;
            transition: all 0.3s;
            &:hover {
              border-radius: 0;
            }
          }
        }
        &:hover {
          border-radius: 0;
          border-image: linear-gradient(#e7ec47, #3528e7) 30;
          box-shadow: 0px 0px 30px 1px rgba(17, 111, 204, 0.57);
        }
        @keyframes xcaleI {
          0% {
            transform: scale(1) rotate(0);
          }
          100% {
            transform: scale(1.2) rotate(-15deg);
          }
        }
        .shoes_name {
          text-transform: uppercase;
          padding: 0;
          margin: 5px 0;
          font-size: 15px;
        }
        .shoes_type {
          padding: 0;
          margin: 5px 0;
          font-size: 12px;
        }
        .shoes_description {
          display: none;
          // opacity: 0;
        }
      }
    }
  }
}
.service {
  background-color: antiquewhite;
  .container {
    padding: 50px 0;
    .service_top {
      text-align: center;
      h2 {
        font-size: 32px;
        font-weight: bold;
      }

      .service_sub {
        div {
          display: inline;
          .btn-sub {
            background-color: #f15e2c;
            border: solid transparent;
            border-radius: 16px;
            border-width: 0 0 4px;
            box-sizing: border-box;
            color: #ffffff;

            display: inline-block;

            font-size: 12px;
            font-weight: 700;
            letter-spacing: 0.8px;
            line-height: 20px;
            margin: 0;
            outline: none;
            overflow: visible;
            padding: 5px 10px;
            text-align: center;
            text-transform: uppercase;
            touch-action: manipulation;
            transform: translateZ(0);
            transition: filter 0.2s;
            user-select: none;

            vertical-align: middle;
            white-space: nowrap;
            position: relative;
          }
          .hidden_text {
            display: none;
            position: absolute;
          }
          &:hover {
            .hidden_text {
              display: inline;
            }
          }

          .btn-sub:after {
            content: "";
            position: absolute;
            left: 0;

            right: 0;
            top: 0;
            z-index: -1;
            background-clip: padding-box;
            background-color: #ea724a;
            border: solid transparent;
            border-radius: 16px;
            border-width: 0 0 4px;
            bottom: -4px;
          }

          .btn-sub:hover:not(:disabled) {
            filter: brightness(1.1);
            -webkit-filter: brightness(1.1);
          }

          .btn-sub:disabled {
            cursor: auto;
          }

          .btn-sub:active {
            border-width: 4px 0 0;
            background: none;
          }
        }

        input {
          border: 1px solid #173d58;
          border-radius: 3px;
          box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
            rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
            rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
          padding: 3px 15px;
          margin-right: 10px;
          font-size: 12px;
          width: 40%;
        }
      }
    }
    .service_content {
      .service_item {
        background: #fff;
        border: 1px solid #173d58;
        border-color: transparent;
        padding: 10px 5px;
        text-align: center;
        border-radius: 4rem;
        margin: 0 20px;
        font-size: 50px;
        transition: all 0.6s;
        a {
          color: rgba(0, 0, 0, 0.562);
        }
        &:hover {
          a {
            display: inline-block;
            animation: moverI 0.5s linear both;
            color: rgba(0, 0, 0, 0.7);
          }
          transform: scale(1.2);
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(160, 96, 32, 0.3) 0px 30px 60px -30px,
            rgba(19, 40, 141, 0.35) 0px -2px 6px 0px inset;
        }

        @keyframes moverI {
          0% {
            transform: scale(1) rotateX(0);
          }
          50% {
            transform: scale(2) rotateX(90deg);
          }
          100% {
            transform: scale(1) rotateX(0);
          }
        }
        .item_content {
          h4 {
            font-size: 24px;
            font-family: "Merriweather", serif;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 25px 0;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(250px * 10);
  }

  .slide {
    height: 100px;
    width: 250px;
    img {
      height: 70px;
      width: 150px;
    }
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
footer {
  padding-top: 100px;
  background-color: #173d58;
  .container {
    color: white;
    display: flex;
    justify-content: space-between;
    .foot_content {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      .foot_1 {
        ul {
          li {
            a {
              color: white;
            }
            font-size: 10px;
            font-weight: bold;
            line-height: 2rem;
          }
        }
      }
      .foot_2,
      .foot_3 {
        h3 {
          font-size: 10px;
          font-weight: bold;
          line-height: 2rem;
        }
        ul {
          padding-left: 0;
          li {
            color: black;
            font-size: 10px;
            line-height: 2rem;

            a {
              transition: all 0.3s;
              color: black;
              &:hover {
                color: #f15e2c;
              }
            }
          }
        }
      }
    }
    .foot_social {
      ul {
        display: flex;
        gap: 20px;
        li {
          a {
            transition: all 0.3s;
            color: black;
            &:hover {
              color: #f15e2c;
            }
          }
        }
      }
    }
  }
}

.form-register {
  margin-top: 200px;
  .form {
    .text-form {
      h1 {
        color: #173d58;
      }
    }
    .form-input {
      form {
        .input-detail {
          .error-notify {
            margin-left: 2px;
            font-size: 14px;
            color: red;
          }
        }
      }
      .btn-submit {
        background-color: #173d58;
      }
    }
  }
}

.products {
  .header-products {
    .search_input {
      width: 200px;
      padding: 10px 20px;
      border: 1px solid black;
      border-radius: 5px;
      &:focus {
        border: 2px solid #173d58;
      }
    }
  }
  .detailed_products {
    .item {
      .shoes_name {
        padding-bottom: 0;
      }
      .shoes_description {
        padding-bottom: 0;
      }
    }
  }
}

//Trang detail

.detail-product {
  .right {
    ._button_group {
      button {
        &:hover {
          background-color: #173d58;
          color: white;
        }
      }
    }
    #btn-addfav {
      background-color: #f15e2c;
      &:hover {
        opacity: 80%;
      }
    }
    #btn-add {
      background-color: #173d58;
    }
  }
}
